{% extends "partials/base.html" %}

{% block title %}
About
{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-3 book_shop">
            <img src="https://i.pinimg.com/736x/2f/f0/31/2ff031a1b60a57b0f2f81b3a4a65c825.jpg" alt="book_shop">
        </div>
        <div class="col-4 book_shop d-flex align-items-center">
            <p class="mb-0">Nestled in the heart of the old town, The Book Nook has been a cozy corner for readers since
                1998.
                Whether you're chasing ancient tales, modern mysteries, or just a quiet place with a cat named
                Oliver napping by the window, you'll find your next chapter here.</p>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-4 book_shop d-flex align-items-center">
            <p class="mb-0">“There is no friend as loyal as a book.” — Ernest Hemingway</p>
        </div>
        <div class="col-3 book_shop">
            <img src="https://i.pinimg.com/736x/60/82/f3/6082f3d735d759fb2f7c30849fc61956.jpg" alt="books">
        </div>
    </div>
</div>
{% endblock %}