{% extends "base.html" %}
{% block title %}{{tour.title}}{%endblock %}
{% block content %}
<div class="container my-5 flex">
    <div class="card shadow-sm" style="width: 50%;">

        <div class="card-body">
            <h1 class="card-title">{{tour.title}}</h1>
            <p>Country: <strong>{{tour.country}}</strong></p>

            <div class="mb-3">
                <span class="fs-3 text-danger">{{tour.price}}</span>
                <span class="fs-5 text-decoration-line-through">{{old_price}}</span>
            </div>

            <p class="card-text">
                {{tour.description}}
            </p>

            <ul class="list-group list-group-flush mb-3">
                <li class="list-group-item">Duration: {{tour.duration}}</li>
                <li class="list-group-item">Rating: ⭐ {{tour.rating}} {{tour.reviews}}</li>
                <li class="list-group-item">Availability: <span class="text-success">{{tour.available}}</span></li>
            </ul>

            <div class="d-grid">
                <button class="btn btn-custom btn-lg">Book Now</button>
            </div>
        </div>
    </div>
    <img src="{{tour.image}}" class="image rounded"  alt="{{tour.title}}">
</div>
{% endblock %}