<nav class="navbar navbar-expand-lg navbar-dark bg-success">
    <div class="container">
        <a class="navbar-brand" href="{{ url_for('index') }}">Fitness Club</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link {% if request.endpoint == 'index' %}active{% endif %}" href="{{ url_for('index') }}">მთავარი</a>
                </li>                
                <li class="nav-item">
                    <a class="nav-link {% if request.endpoint == 'about' %}active{% endif %}" href="{{ url_for('about') }}">ჩვენს შესახებ</a>
                </li>               
                <li class="nav-item">
                    <a class="nav-link {% if request.endpoint == 'form' %}active{% endif %}" href="{{ url_for('form') }}">რეგისტრაცია</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.endpoint == 'faq' %}active{% endif %}" href="{{ url_for('faq') }}">FAQ</a>
                </li>
            </ul>
        </div>
    </div>
</nav>