* {
    margin: 0;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 150px;
    cursor: pointer;
}

h3 {
    text-align: center;
    color: rgb(107, 0, 45);
}

h5 {
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    color: rgb(189, 0, 0);
}

.categories {
    display: flex;
    width: 800px;
    justify-content: space-between;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 30px;
}

.categories div {
    border: 1px solid rgb(161, 161, 161);
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
}

.categories div:hover {
    background-color: #e7e7e7;
}

table {
    border: 1px solid black;
}

.styled-table {
    border-collapse: collapse;
    border: 1px solid black;
    margin: auto;
    margin-top: 20px;
}

.styled-table th,
.styled-table td {
    border: 1px solid black;
    padding: 8px 12px;
}

.registration {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

a {
    text-decoration: none;
    color: rgb(189, 0, 0);
    background-color: #e7e7e7;
    padding: 15px 20px;
    border-radius: 10px;
}

a:hover {
    background-color: rgb(180, 180, 180);
}

form {
    width: 500px;
    margin: auto;
    margin-top: 20px;
    background-color: rgb(255, 238, 142);
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form h1 {
    text-align: center;
    margin-bottom: 20px;
}

input {
    padding: 6px;
    border-radius: 5px;
    border-color: #e7e7e7;
    width: 200px;
}

form label {
    margin-bottom: 10px;
}

button {
    padding: 10px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
}

button:hover {
    background-color: rgb(180, 180, 180);
}